<template>
  <div>

    <div v-if="showpage == 0">
    <table class="alltable">
      <tr><td class="bold">Tong hop</td><td></td></tr>
      <tr ><td @click="openInfo">Thong tin ca nhan </td><td><i class="arrow-right"></i></td></tr>
      <tr><td >Rut tien </td><td><i class="arrow-right"></i></td></tr>
      <tr><td > Ung tien </td><td><i class="arrow-right"></i></td></tr>
      <tr><td @click="openUsage" >Huong dan su dung </td><td><i class="arrow-right"></i></td></tr>
      <tr> <td @click="openPassword" >Doi mat khau </td><td><i class="arrow-right"></i></td></tr>
      <tr><td @click="openFaq" >Cac cau hoi thuong gap</td><td><i class="arrow-right"></i></td></tr>
      <tr> <td @click="openFeedback" >Y kien khach hang </td><td><i class="arrow-right"></i></td></tr>
      <tr><td @click="openContact" >Lien he</td><td><i class="arrow-right"></i></td></tr>
    </table>

    </div>


    <div v-if="showpage == 1">
    <table class="infotable">
      <tr class="bold runner" @click="openAll"><td><i class="arrow-left"></i> Thong tin ca nhan</td><td></td></tr>
      <tr v-for="element in info">
	<td> {{element.label}}:</td>
	<td> <input :value="element.value"></td>
      </tr>

    </table>
    <br><br>
    <button @click="openInfo2" class="update-button">Cap nhat </button>
    <br><br><br>
    <p class="left black"> Ban can dien thong tin ve tai khoan ngan hang chinh xac.<br> Thong tin tai khoan khong the sua doi. <br>La tai khoan dung de rut tien.</p>
    </div>

    <div v-if="showpage == 2">
      <br>
      <b> Nhap ma OTP gui den so dien thoai cua ban </b><br><br>
      <input class="otp"><br><br>

      <button @click="openInfo3" class="update-button"> Hoan thanh </button>
      
    </div>

    <div v-if="showpage == 3"><br>
      <i class="fa fa-check"></i><br>
      <b> Ban da cap nhat thong tin thanh cong! </b>
      <br><br>
      <button @click="openAll" class="update-button">Dong lai</button>
    </div>

    <div v-if="showpage == 'usage'">
      <p class="green-runner" @click="openAll"><i class="fa fa-arrow-left"></i> &nbsp; Thong tin ca nhan</p>
      <p class="left">
	Lorem Ipsum...
	</p>
    </div>

    <div v-if="showpage == 'password'">

      <div @click="openAll" class="bold runner">
	<i class="arrow-left"></i> &nbsp; Doi mat khau
      </div>

      <form @submit.prevent="openPassword2">
      <p> Mat khau cu:</p>
      <input placeholder="***" class="password" type="password">
      <p> Mat khau moi: </p>
      <input placeholder="***" class="password" type="password">
      <p> Xac nhan mat khau moi: </p>
      <input placeholder="***" class="password" type="password"><br><br>
      <button value="submit" class="update-button"> Doi mat khau</button>
      </form>
    </div>

    <div v-if="showpage == 'password2'">
      <br><br>
      <i class="fa fa-check"></i>
      <br><br>
      Ban da doi thanh cong!
      <br><br>
      <button class="update-button">Dong lai</button>
		
      </div>

    <div v-if="showpage == 'faq'">
      <p class="green-runner" @click="openAll"> <i class="fa fa-arrow-left"></i> Cac cau hoi thuong gap? </p>
      <div class="left">
      <p> 1. Rut tien nhu the nao? </p>

      <p> Lorem Ipsum... </p>
    </div>
</div>
    <div v-if="showpage == 'feedback'">
      <p class="green-runner" @click="openAll"><i class="fa fa-arrow-left"></i> Y kien khach hang</p>

      <ul>
	<li v-for="feed in feedback">
	  <img :src="feed.avatar">
	  star <br>

	  <p> {{feed.comment }}</p>
	</li>
	  
	</ul>
    </div>

    <div v-if="showpage == 'contact'">
      <p class="green-runner" @click="openAll"> <i class="fa fa-arrow-left"></i> Lien he </p>
      <p class="left"> Cong ty TNHH IT <br>
	Dia chi: Trung Kinh - Ha Noi <br>
	SDT: 0133 <br>
	Email: infoit@gmail.com<br>
	</p>
    </div>
    
  </div>
  
  
</template>
<style scoped>
  table {
  color: grey;
  width: 100%;
  }
  .bold {
  font-weight: bold;
  color: black;
  }
  .alltable tr td {
  cursor: pointer;
  text-align: left;
  padding: 3%;
  border-bottom: 2px solid lightgrey;
  width: 50%;
  font-size: 0.95rem;
  }
  i {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  }
  .arrow-right {
  transform: rotate(-45deg);
  color: grey;
  }
  .arrow-left {
  transform: rotate(135deg);
  }

  .runner {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  cursor: pointer;
  padding: 2%;
  text-align: left;
  }

  .infotable tr td {
  text-align: left;
  padding: 2%;
  width: 50%;

  }

  input {
  background-color: #c4c4c4;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 1.5% 0%;
  width: 100%;
  border: none;
  border-radius: 5%;
  font-size: 0.9rem;
  }
  .left {
  text-align: left;
  }
  .black {
  color: black;
  }
  .update-button {
  font-weight: bold;
  background-color: var(--coi-green);
  color: white;
  padding: 2% 5%;
  border: none;
  border-radius: 7%;
  box-shadow: 2px 2px 2px grey;
  }
  .otp {
  width: 50%;
  }
  .green-runner {
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: var(--coi-green);
  padding: 5%;
  padding-top: 10%;
  margin-top: -5%;
  margin-left: -5%;
  margin-right: -5%;
  }
  form {
  text-align: left;
  padding-left: 10%;
  }
  .password {
  text-align: left;
  background: none;
  width: 95%;
  border-bottom: 2px solid lightgrey;
  }
  </style>

<script>
  let feedback = [
  {
  avatar: "",
  star: 4,
  comment: 'Lorem Ipsum..'
  },
  {
  avatar: "",
  star: 5,
  comment: 'Lorem Ipsum..'
  }

  ]
  
  let info = [
  {
  label: 'Ho va ten',
  value: 'Nguyen Van A',
  },
  {
  label: 'Ngay thang nam sinh',
  value: '21/11/1995',
  },
  {
  label: 'So CMND',
  value: '1357',
  },
  {
  label: 'Dia chi',
  value: 'Tran Cung - Ha Noi',
  },
  {
  label: 'So tai khoan',
  value: '2100',
  },
  {
  label: 'Ngan hang',
  value: 'BIDV Ha Noi',
  },
  {
  label: 'Chi nhanh',
  value: 'nva@gmail.com',
  }
  ]
  
  export default {
  name: 'All',
  data () {
  return {
  showpage: 0,
  info: info,
  feedback: feedback,
  }
  },
  methods: {
  openAll: function() {
  this.showpage = 0
  },
  openInfo: function(){
  this.showpage = 1
  },
  openInfo2: function(){
  this.showpage = 2
  },
  openInfo3: function() {
  this.showpage = 3
  },
  openUsage: function() {
  this.showpage = 'usage'
  },
  openPassword: function() {
  this.showpage = 'password'
  },
  openPassword2: function() {
  this.showpage = 'password2'
  },
  openFaq: function() {
  this.showpage = 'faq'
  },
  openFeedback: function() {
  this.showpage = 'feedback'
  },
  openContact: function() {
  this.showpage = 'contact'
  }
  }
  }
  </script>
