<template>
  <div>
    <div class="tabs">
      <div class="tab" @click="openinvest" :class="{activetab: showinvest}">
	Lich su dau tu
      </div>
      <div class="tab" @click="openaddwithdraw" :class="{activetab: !showinvest}">
	Lich su Nap/rut tien
      </div>
    </div>

    <table v-if="showinvest">
      <tr v-for="element in invest">
	<td class="left"><b style="font-size: 0.95rem;" :style="{color: element.actioncolor}"> {{element.action}}</b> &nbsp; <span :style="{backgroundColor: element.statuscolor}" class="dot"></span> <b style="font-size: 0.8rem" :style="{color: element.statuscolor}" >{{element.status}} </b><br><br>
	  {{element.time}}<br><br>
	  <span style="color: grey">{{element.feename}}: {{element.fee}} d</span>
	</td>
	<td class="right">
	  <b>{{element.name}}</b><br><br>
	  {{element.value}}<br><br>
	  <span :style="{color: element.extracolor}">{{element.extra}}</span>
	  </td>
      </tr>
    </table>

    <table v-else>
      <tr v-for="row in addwithdraw">
	<td class="left">
	  <b style="font-size: 0.95rem;" :style="{color: row.actioncolor}">{{row.action}}</b> &nbsp; <span class="dot" :style="{backgroundColor: row.statuscolor}"></span> <b style="font-size: 0.8rem"  :style="{color: row.statuscolor}">{{row.status}}</b> <br> <br>
	  {{row.time}} 
	  <span v-if="row.feename">
	    <br><br>
	    <span style="color:grey">{{row.feename}}: {{row.fee}} d</span>
	    </span>
	</td>
	<td class="right">
	  <br><br>
	  {{row.value}}<br><br>
	  <span :style="{color:row.extracolor}">{{row.extra}}</span>
	</td>
      </tr>
    </table>
    
  </div>
</template>
<style>
  .tabs {
  display: flex;
  flex-flow: row wrap;
  margin-left: -5%;
  margin-right: -5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: black;
  font-size: 1rem;
  }
  .tab {
  width: 50%;
  padding: 1% 0%;
  background-color: #ced1d6;
  cursor: pointer;
  }
  .activetab {
  background-color: var(--coi-green);
  box-shadow: 1px 1px 1px grey;
  color: white;
  font-weight: bold;
  }
  table {
  width: 100%;
  }
  table tr {
  border-bottom: 2px solid lightgrey;
  color: black;
  }

  table td {
  padding: 3% 0%;
  }
  .left {
  text-align: left;
  }
  .right {
  text-align: right;
  }
  .dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  }
</style>
<script>

  let invest = [
  {
  action: 'Dau tu',
  actioncolor: 'green',
  status: 'Thanh cong',
  statuscolor: 'green',
  time: '10:00 20/3/2019',
  name: 'ETFVN',
  value: '100.000.000',
  extra: '+10.000.000 d (+10%)',
  extracolor: 'green',
  feename: 'Phi dau tu',
  fee: '3.000.000',
  
  },
  {
  action: 'Rut von',
  actioncolor: 'red',
  status: 'Dang cho',
  statuscolor: 'orange',
  time: '10:00 20/3/2019',
  name: 'VFM4',
  value: '100.000.000',
  extra: '-10.000.000 d (-10%)',
  extracolor: 'red',
  feename: 'Phi rut von',
  fee: '3.000.000',
  
  
  },
  {
  action: 'Dau tu',
  actioncolor: 'green',
  status: 'Da huy',
  statuscolor: 'red',
  time: '10:00 20/3/2019',
  name: 'ETFVN30',
  value: '100.000.000',

  extra: '+10.000.000 d (+10%)',
  extracolor: 'green',
  feename: 'Phi dau tu',
  fee: '3.000.000',
  
  }

  ]

  let addwithdraw = [
  {
  action: 'Nap them',
  actioncolor: 'green',
  status: 'Thanh cong',
  statuscolor: 'green',
  time: '10:00 20/3/2019',
  value: '100.000.000'
  },
  {
  action: 'Rut tien',
  actioncolor: 'red',
  status: 'Dang cho',
  statuscolor: 'orange',
  time: '10:00 20/3/2019',
  value: '100.000.000',
  feename: 'Phi rut tien',
  fee: '3.000.000',
  extra: '-10.000.000 d (-10%)',
  extracolor: 'red',
  },
  {
  action: 'Nap them',
  actioncolor: 'green',
  status: 'Da huy',
  statuscolor: 'red',
  time: '10:00 20/3/2019',
  value: '100.000.000',
  },
  {
  action: 'Ung tien',
  actioncolor: 'orange',
  status: 'Thanh cong',
  statuscolor: 'green',
  time: '10:00 20/3/2019',
  value: '100.000.000',
  feename: 'Phi ung tien',
  fee: '3.000.000',
  extra: '-10.000.000 d (-10%)',
  extracolor: 'red',
  
  }
  ]
  
  export default {
  name: 'History',
  data() {
  return {
  invest: invest,
  addwithdraw: addwithdraw,
  showinvest: true,
  }
  },
  methods: {
  openinvest: function(){
  this.showinvest = true
  },
  openaddwithdraw: function(){
  this.showinvest = false
  }
  }
  }
</script>
