<template>
<div class="container">

  <div class="investee">
    <p>Mã đầu tư:</p>
    <div class="select-box">
      <select v-model="selected">
	<option v-for="(symbol, i) in codes" :value="i">
	  <span> {{ symbol.code }} 
	    </span>
	</option>
      </select>
    </div>
  </div>

  <div class="top-table">
    <table> 
      <tr><td class="left medium"> Gía trị:</td>
	<td>
          <span class="dot"
		:style="{backgroundColor: codes[selected].isprofit}">
	</span> </td>
	<td class="left medium black strong">
     	  {{codes[selected].value}}
	</td>
	<td class="left">
          <span
	    :style="{color: codes[selected].isprofit}">
	    {{codes[selected].profit}} ({{codes[selected].rate}})
	  </span>                             
	</td>
      </tr>                                                        <tr>
	<td class="left medium">Von:</td>
	<td ></td>
	<td class="left medium black"> {{codes[selected].capital}} </td>
	<td class="left">({{codes[selected].percentage}} tài sản)
	</td>  
      </tr>                    
    </table>
  </div>
  
  <div class="tabs">
    <div class="tab" @click="openChart" :class="{activetab: activeChart}">
      Đồ thị
      <div class="up" :class="{activearrow: activeChart}">
      </div>
    </div>
    
    <div class="tab" @click="openInfo" :class="{activetab: !activeChart}">
      Thông tin
      <div class="up" v-bind:class="{activearrow: !activeChart}">
      </div>
    </div>
  </div>
  <div class="charts">
    <div  v-if="activeChart">
      <figure>
	<img style="width:100%;" src="../assets/chart.png">
      </figure>
    </div>
    <div class="info" v-else>
      <p class="black strong">Danh mục đầu tư tiêu biểu </p> 
      <p>{{ codes[selected].info.investedin }}   </p>
      <p class="black strong"> Tổng quan về qũy </p> 
      <p>{{ codes[selected].info.overall }}      </p>
      <p class="black strong"> Chiến lược đầu tư </p>      
      <p>{{ codes[selected].info.strategy }}</p>
      <br>
    </div>                         
    <router-view />                                              
  </div>

  <table class="bottom-table">
    <tr>
      <td class="small-cell underline" > Tối đa:</td>
      <td class="underline black-text" >100.000.000 đ </td>
      <td >
	<i class="arrow-left" @click="changeaction"></i>
	<a class="invest-button" href=""  v-if="codes[selected].action">
	  <span class="white-text">ĐẦU TƯ</span> </a>
	<a class="withdraw-button" href="" v-else> <span class="white-text">RÚT VỐN</span> </a>
	<i class="arrow-right" @click="changeaction"></i></td></tr>
    <tr>
      <td class="small-cell"> Giá trị:</td>
      <td > <i class="arrow-left" ></i> &nbsp; 50.000 đ &nbsp;<i class="arrow-right"></i> </td>
      <td ><a class="open-button" href="" ><span class="white-text" > MỞ LỆNH</span> </a>
    </td></tr>
  </table>

  
</div>

</template>

<style scoped>

  * {
  color: grey;
  }
  .container {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  margin-bottom: 80px;
  
  }
  .investee {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: grey;
  font-size: 1rem;

  }
  .select-box {
  padding-top: 1%;
  }
  select {
  font-weight: bold;
  color: black;
  }
  .dot {
  height: 3px;
  width: 3px;
  display: block;
  border-radius: 50%;
  }
  .left {
  text-align: left;
  }
  .medium {
  font-size: 1rem;
  }
  .black {
  color: black;
  }
  .strong {
  font-weight: bold;
  font-size: 1.1rem;
  }
  .tabs {
  display: flex;
  flex-direction: row wrap;
  border-top: 1px solid lightgrey;
  margin-top: 2%;
  padding-top: 3%;
  border-bottom: 2px solid lightgrey;
  }
  .tab {
  width: 50%;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  }
  .activetab {
  font-weight: bold;
  color: black;
  }
  .activearrow {
  border: solid lightgrey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  position: absolute;
  bottom: -4px;
  background-color: white;
  left: 50%;
  }

  .charts {
  overflow: scroll;
  height: 200px;
  width: 100%;
  }

  .info {
  font-size: 14px;
  text-align: left;
  }
  
  .bottom-table {
  width: 100%;
  font-size: 1rem;
  color: #333;
  margin-top: 2%;
  }

  .bottom-table tr {
  height: 42px;
  }

  i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  }
 .up {                                                      
  transform: rotate(-135deg);
  background-color: white;
  }     
  .down {
  transform: rotate(45deg);
  }
  .arrow-right {
  transform: rotate(-45deg);
  }
  .arrow-left {
  transform: rotate(135deg);
  }
  
  a:link {
  text-decoration: none;
  }
  .invest-button {
  background-color: var(--coi-green);
  display: inline-block;
  padding: 5% 0%;
  width: 80%;
  border-radius: 7%;
  box-shadow: 1px 1px 1px lightgrey;
  }
  .withdraw-button {
  background-color: red;
  display: inline-block;
  padding: 5% 0%;
  width: 80%;
  border-radius: 7%;
  box-shadow: 1px 1px 1px lightgrey;
  }
  .open-button {
  background-color: var(--coi-orange);
  display: inline-block;
  width: 80%;
  border-radius: 7%;
  box-shadow: 1px 1px 1px lightgrey;
  font-size: 13.5px;
  padding: 5% 0%;
  }

  .underline {
  border-bottom: 1px solid grey;
  }
  
  .white-text {
  color: white;
  padding: 20%;
  }
  
  .black-text {
  color: black;
  font-size: 1.05rem;
  }
  .small-cell {
  width: 14%;
  }
  
</style>
<script>

  let symbols = [
  {
  code: 'ETFVN30',
  value: '110.000.000',
  profit: '+10.000.000',
  isprofit: 'green',
  rate: '+10%',
  capital: '100.000.000',
  percentage: '10%',
  chart: {
  link: "../assets/chart.png"
  },
  info: {
  investedin: ['AAA', 'BBB'],
  overall: 'Quỹ ETF VFMVN30 là quỹ ETF đầu tiên của Việt Nam do công ty VFM phát hành và quản lý theo Giấy chứng nhận đăng ký lập quỹ số 14/GCN-UBCK do Ủy ban chứng khoán nhà nước cấp ngày 18/09 /2014 với số vốn huy động lần đầu ra công chúng là 202 tỷ đồng. Quỹ ETF VFMVN30 đã được niêm yết và chính thức giao dịch tại Sở giao dịch Chứng khoán Tp. HCM từ ngày 06/10/2014. Mã giao dịch là E1VFVN30.',
  strategy: 'Mục tiêu của Quỹ ETF VFMVN30 là mô phỏng gần nhất có thể về biến động (performance) của chỉ số tham chiếu VN30 sau khi trừ đi chi phí của Quỹ. Chỉ số VN30 là chỉ số giá (price index) do Sở giao dịch Chứng khoán Thành phố Hồ Chí Minh xây dựng và quản lý, bao gồm 30 công ty niêm yết trên Sở giao dịch Chứng khoán Tp. Hồ Chí Minh (HOSE), có giá trị vốn hóa và thanh khoản lớn hàng đầu.',
  },
  action: true,
  },
  {
  code: 'AAA',
  value: 99000000,
  profit: '-10000000',
  isprofit: 'red',
  rate: '-10%',
  capital: 100000000,
  percentage: '10%',
  
  chart: {
  link: "../assets/chart.png"
  },
  info: {
  investedin: ['AAA', 'CCC'],
  overall: 'Quỹ AAA là quỹ do công ty A lập',
  strategy: 'Quỹ đầu tư vào LE',
  },
  action: false,
  },
  ]
  
  export default {
  name: 'Profile',
  data () {
  return {
  asset: 100000000,
  profit: 10000000,
  rate: '+10%',
  codes: symbols,
  selected: 0,
  activeChart: true,
  }
  },
  methods: {
  changeaction(){
  },
  openChart() {
  this.activeChart = true;
  },
  openInfo(){
  this.activeChart=false;
  }
  }
  }       
  </script>
