<template>
  <div>
    <router-link to="/Profile/utility/addmore"> Nap them </router-link><br>
    <router-link to="/Profile/utility/withdraw"> Rut tien </router-link><br>
    <router-link to="/Profile/utility/credit">Ung tien</router-link><br>
    <div>
      <router-view />
    </div>
  </div>
</template>
