<template>
  <div>

    <div class="runner">
      <i class="arrow-left"></i> Rut tien
    </div>

    <div v-if="showpage == 1">
      <table>
	<tr><td class="left"> So tien co the rut: </td><td><input value="10.000.000 d" ></td></tr><br>
	<tr><td class="left"> So tien rut:</td><td class="bold"> <input value="5.000.000 d" ></td> </tr>
      </table>
    </div>

    <div v-if="showpage == 2">
      <table>
	<tr> <td class="left">So tien rut: </td><td class="bold"><input value="5.000.000 d"></td> </tr><br>
	<tr> <td class="left "> Nhap OTP: </td><td class="bold"><input value="abcdef"></td>
	<tr> </tr>
      </table><br>
      <button @click="confirm">{{ label2 }} </button>
    </div>

    <div v-if="showpage == 3">

      <i class="fa fa-check"></i>
      <p> Ban da rut thanh cong!</p>
      <p> 5.000.000 d </p>
      
    </div>
    <br><br>
    <button @click="changepage">{{label1}} </button>

  </div>
  </template>

<style scoped>

  .runner {
  font-weight: bold;
  text-align: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
  margin-bottom: 5%;
  }
  
  i {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  }

  .arrow-left {
  transform: rotate(135deg);
  }
  .left {
  text-align: left;
  width: 50%;
  }

  input {
  background-color: #c4c4c4;
  border: none;
  padding: 2% 0%;
  border-radius: 5%;
  text-align: center;

  }
  .bold input {
  color: black;
  font-weight: bold;
  }

  button {
  background-color: var(--coi-green);
  border: none;
  padding: 2% 5%;
  border-radius: 6%;
  color: white;
  font-weight: bold;
  
  }
  </style>
<script>

  export default {
  name: 'Withdraw',
  data () {
  return {
  showpage: 1,
  label1: 'Thuc hien',
  label2: 'Xac nhan'
  }
  },
  methods: {
  changepage: function(){

  if (this.showpage == 1) {
  this.showpage = 2;
  this.label1 = 'Quay lai'
  } else {
    this.showpage = 1;
  this.label1 = 'Thuc hien'
  }
  },
  confirm: function() {
  if (this.showpage == 2) {
  this.showpage = 3;
  this.label2 = 'Dong lai'
  
  }
  
  
  
  }
  }

  }
  
  </script>
